# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test binary
*.test

# Code coverage and profiling
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace files (multi-module workspace)
go.work
go.work.sum

# Local env configs
.env
.env.*

# Dependency management
# vendor/       <- Uncomment if using vendoring

# IDE/editor configs
.vscode/
.idea/
*.swp
.DS_Store

logs/
*.log